.btn-laporan, .btn-user {
	float:left;
	margin-right: 10px;
}

.btn-taman{
		float: left;
		line-height: 38px;
}

.sort-menu {
	float:right;
}

.panel {
    box-shadow: 1px 1px 2px black;
}

.panel-body{
	padding-bottom:5px;
}

.deskripsi-wrapper{
	padding: 0;
	margin-bottom: 0px;
	position: relative;
}

.deskripsi > h2 {
	margin-top:0;
	margin-bottom:0;
}

.deskripsi > p {
	margin:0;
}

.deskripsi .col-xs-3 {
	position: relative;
	bottom: 10px;
}

.deskripsi > .col-xs-9, .deskripsi > .col-xs-3 {
	padding: 0;
}